
<app-workout-table-filter (dateSelected)="(onDateSelected($event))" ></app-workout-table-filter>

<table mat-table [dataSource]="workouts" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="creationdate">
    <th mat-header-cell *matHeaderCellDef> Creation Date </th>
    <td mat-cell *matCellDef="let workout"> {{workout.creationdate}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Duration (min) </th>
    <td mat-cell *matCellDef="let workout"> {{workout.duration | number: '1.1-1' }} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="totaldistance">
    <th mat-header-cell *matHeaderCellDef> distanece (mi) </th>
    <td mat-cell *matCellDef="let workout"> {{workout.totaldistance | number: '1.1-1'}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="totalenergyburned">
    <th mat-header-cell *matHeaderCellDef> Energy Burned (kcal) </th>
    <td mat-cell *matCellDef="let workout"> {{workout.totalenergyburned | number: '1.1-1'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
